<a href="https://colab.research.google.com/github/reggieHabas/DS-Unit-1-Sprint-2-Statistics/blob/master/Reggie_Habas_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [3]:
# import the goods
import pandas as pd

In [4]:
# get data onto colab
! wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

--2020-07-23 13:14:38--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.03s

2020-07-23 13:14:39 (870 KB/s) - ‘imports-85.data’ saved [25936/25936]

In [5]:
# make into a dataframe
column_headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 
                  'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
                  'engine-location', 'wheel-base', 'length', 'width', 'height',
                  'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size',
                  'fuel-system', 'bore', 'stroke', 'compression-ratio',
                  'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

cars = pd.read_csv('imports-85.data', header = None,
                   names = column_headers, na_values = '?')

In [6]:
# let's see
cars.head()

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [7]:
# get the sample
lilcars = cars.sample(n=10, random_state=30)

In [8]:
# Check the means
print(lilcars['highway-mpg'].mean())
print(cars['highway-mpg'].mean())

32.8
30.75121951219512

In [9]:
# compare the two
from scipy.stats import ttest_ind
ttest_ind(lilcars['highway-mpg'], cars['highway-mpg'], nan_policy='omit')
# Cannot say that the two means are statistically different

Ttest_indResult(statistic=0.9164563590006287, pvalue=0.3604640293545831)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [10]:
# Compare the sample lilcars to the mean of 35
# null hypothesis = The mean of the sample's highway-mpg is 35
# alt hypothesis = The mean of the sample's highway-mpg is statistically 
# different than 35 mpg
ttest_ind(lilcars['highway-mpg'], cars['highway-mpg']==35, nan_policy='omit')

# the alt hypothesis is true, the two populations are different

Ttest_indResult(statistic=67.77982185134806, pvalue=3.9702600858219563e-146)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [11]:
# new sample
lilcars = cars.sample(n=100, random_state=30)

In [12]:
# run the test
ttest_ind(lilcars['highway-mpg'], cars['highway-mpg']==35, nan_policy='omit')

Ttest_indResult(statistic=65.70255898355136, pvalue=2.6501129970156327e-181)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

Using a larger sample size (n) may lead to different outcome, the data is potentially more representative of the entire population.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [13]:
# get the data
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-07-23 13:14:40--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2020-07-23 13:14:40 (606 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [14]:
# make into a dataframe
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

votes = pd.read_csv('house-votes-84.data', header = None,
                    names = column_headers, na_values = '?')

In [20]:
votes.sample(10)

          party  handicapped-infants  ...  duty-free  south-africa
421    democrat                  0.0  ...        1.0           1.0
112    democrat                  0.0  ...        1.0           NaN
232    democrat                  0.0  ...        1.0           NaN
419    democrat                  1.0  ...        0.0           1.0
142  republican                  0.0  ...        0.0           1.0
297    democrat                  1.0  ...        1.0           NaN
399  republican                  0.0  ...        0.0           0.0
402  republican                  NaN  ...        0.0           1.0
265    democrat                  1.0  ...        0.0           1.0
300  republican                  0.0  ...        0.0           1.0

[10 rows x 17 columns]

In [16]:
votes = votes.replace({'y':1, 'n':0})

In [17]:
# split into two dataframes
rep = votes[votes['party']=='republican']
dem = votes[votes['party']=='democrat']

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [18]:
# null hypothesis: there's no statistical difference on imigration voting
# alt hypothesis: there's statistical difference on imigration voting
ttest_ind(rep['immigration'], dem['immigration'], nan_policy='omit')

# results are not statistically signficant, cannot reject the null hypothesis

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)

In [22]:
# null hypothesis: there's no statistical difference on religious-groups voting
# alt hypothesis: there's statistical difference on religious-groups voting

print(rep['religious-groups'].mean())
print(dem['religious-groups'].mean())

ttest_ind(rep['religious-groups'], dem['religious-groups'], nan_policy='omit')
# results are statistically signficant, reject the null hypothesis
# Rep votes for religous-groups more often

0.8975903614457831
0.47674418604651164

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [23]:
# null hypothesis: there's no statistical difference on duty-free voting
# alt hypothesis: there's statistical difference on duty-free voting

print(rep['duty-free'].mean())
print(dem['duty-free'].mean())

ttest_ind(rep['duty-free'], dem['duty-free'], nan_policy='omit')
# results are statistically signficant, reject the null hypothesis
# dem votes for duty-free more often

0.08974358974358974
0.6374501992031872

Ttest_indResult(statistic=-12.853146132542978, pvalue=5.997697174347365e-32)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE